body {
  margin: 0;
}
.opacity-enter-active,
.opacity-leave-active {
  transition: all 0.2s ease;
  transform: scale(1);
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
  transform: scale(0);
  /* height: 0; */
}
.opacity-leave-to {
  display:none 
}

.var-card__floating-content {
  z-index: 99912399;
  padding: 16px;
}
.var-app-bar {
  transition: all 1s ease;
}
.var-card__floater {
  z-index: 99912399;
}

.page-change-enter-active,
.page-change-leave-active {
  transition: all 0.2s ease;
  transform: scale(1);
}

.page-change-enter-from,
.page-change-leave-to {
  opacity: 0;
  transform: scale(0);
  /* height: 0; */
}
.page-change-leave-to {
  display:none 
}
/* 如果是电脑端 body 最大宽度 调整为 800 */
@media (min-width: 800px) {
  body {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(224, 224, 224);
  }
  #app {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 80vh;
  }
}